@import '~sass/variables';

.accent {
  background-color: #69f0ae !important;
  /* color: white; */
}

.primary {
  background-color: $primary-color !important;
}

.navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}