<div class="row text-center h-100 justify-content-center align-items-center" *ngIf="testType">
  <div class="col-1 offset-11">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="test-type-menu-btn">
        <mat-icon class="test-type-menu-icon">more_vert</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickEditTestType()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      <button mat-menu-item (click)="openDeleteTestTypeDialog()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
    </mat-menu>
  </div>
</div>
<div class="row text-center h-100 justify-content-center align-items-center" *ngIf="testType">
  <div class="col-12">
    <h1 class="page-header">{{ testType.title }}</h1>
    <p class="lead">{{ testType.description }}</p>
    <div class="image-container" *ngIf="testType.imageUrl">
      <img src="{{ testType.imageUrl }}" alt="Avatar" class="image">
      <div class="overlay">
        <a (click)="openUploadCoverImageDialog()" class="icon" title="Cover Image">
          <i class="fa fa-camera"></i>
        </a>
      </div>
    </div>
    <div class="image-container" *ngIf="!testType.imageUrl">
      <img src="../../../assets/img/placeholder.png" alt="Avatar" class="image">
      <div class="overlay">
        <a (click)="openUploadCoverImageDialog()" class="icon" title="Cover Image">
          <i class="fa fa-camera"></i>
        </a>
      </div>
    </div>
    <mat-icon>alarm</mat-icon>
    <p>{{ testType.duration }} seconds</p>
    <div class="row tests-row">
      <div class="col-lg-12 test-list-filled" *ngIf="testingData?.length > 0">
        <mat-nav-list>
          <h2 mat-header class="list-header">Tests</h2>
          <a mat-list-item *ngFor="let test of testingData" (click)="onTestingDataClick(test._id, test.athlete)">
            <mat-icon mat-list-icon>accessibility</mat-icon>
            <p mat-line>{{ formatDate(test.created_at) }}</p>
          </a>
        </mat-nav-list>
        <button mat-raised-button color="primary" class="downloadButton" (click)="onClickDownloadCSV()">Download CSV</button>
      </div>
      <div class="col-lg-12" *ngIf="!testingData?.length > 0">
        <h2 mat-header class="list-header">Tests</h2>
        <p>No tests performed yet..</p>
      </div>
    </div>
  </div>
</div>