@import '~sass/variables';

.page-header {
  margin-top: 2em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.tab-header {
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-header {
  text-align: start;
}

.image-upload-input {
  width: 100%;
  margin-top: 1em;
}

.height-row,
.name-row,
.sport-row {
  margin-left: 0;
  margin-right: 0;
}

.height-col-1,
.name-col-1,
.sport-col-1 {
  padding-left: 0;
}

.height-col-2,
.name-col-2,
.sport-col-2 {
  padding-right: 0;
}

/deep/ .mat-tab-label,
/deep/ .mat-tab-link {
  color: black;
}

/deep/ .mat-select-value {
  color: black;
}

.mat-form-field {
  width: 100%;
}

/deep/ .mat-input-underline {
  background-color: black;
}

.mat-form-field-hide-placeholder .mat-input-element::-moz-placeholder {
  color: black !important;
}

/deep/ .mat-form-field-label {
  color: #606060 !important;
}