<div class="row text-center h-100 justify-content-center align-items-center" *ngIf="user.kind == 'Admin'">
  <!-- <app-organization-admin *ngIf="user.organization !== undefined" [organizationId]="user.organization"></app-organization-admin>
  <app-add-organization *ngIf="user.organization == undefined"></app-add-organization> -->
</div>
<div class="row text-center h-100 justify-content-center align-items-center" *ngIf="user.kind == 'Tester'">
  <div class="col-lg-12">
    <div class="alert alert-info text-left" role="alert">As a tester, your main tasks will be done on the SIPS mobile application.</div>
    <h1>Welcome, {{ user.first_name }}! We're happy to have you as a tester!</h1>
    <br>
    <h2>Simply download the app and login to start testing!</h2>
    <a href='http://play.google.com/store/?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
  </div>
</div>
<div class="row text-center h-100 justify-content-center align-items-center" *ngIf="user.kind == 'Athlete'">
  <!-- <app-athlete-profile [id]="user._id"></app-athlete-profile> -->
  {{ router.navigate(['/athletes/athlete', user._id]) }}
</div>