@import '~sass/variables';

.page-header {
  margin-top: 2em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.injury-menu-btn {
  margin: 1em;
  position: relative;
  width: 3.5em;
  height: 3.5em;
  float: right;

  .injury-menu-icon {
    font-size: 3em !important;
    position: absolute;
    top: 0.3em;
    left: 0.1em;
  }
}
@media only screen and (max-width: 450px) {
  .injury-menu-btn {
    margin: 1em;
    position: relative;
    width: 3em;
    height: 3em;
    float: right;

    .injury-menu-icon {
      font-size: 2em !important;
      position: absolute;
      top: 0.35em;
      left: 0.25em;
    }
  }
}