@import '~sass/variables';
/**
  * Masthead
  */
.masthead {
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;

    h1 {
      font-size: 3rem;
    }
  }
}
/**
  * Showcase
  */
.showcase {
  .showcase-text {
    padding: 3rem;
    @media (min-width: 768px) {
      padding: 7rem;
    }
  }

  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
}
/**
  * Features
  */
.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;

  .features-icons-item {
    max-width: 20rem;

    .features-icons-icon {
      height: 7rem;

      i {
        font-size: 4.5rem;
        color: $primary-color !important;
      }
    }

    &:hover {
      .features-icons-icon i {
        font-size: 5rem;
        color: $primary-color;
      }
    }
  }
}
/**
  * Testimonials
  */
.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;

  .testimonial-item {
    max-width: 18rem;

    img {
      max-width: 12rem;
      box-shadow: 0 5px 5px 0 #adb5bd;
    }
  }
}
/**
  * Call to action
  */

.call-to-action {
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;

  .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}