@import '~sass/variables';

.page-header {
  margin-top: 2em;
}

.submitBtn {
  margin-top: 1em;
}

.mat-form-field {
  width: 100%;
}

/deep/ .mat-input-underline {
  background-color: black;
}

.mat-form-field-hide-placeholder .mat-input-element::-moz-placeholder {
  color: black !important;
}

/deep/ .mat-form-field-disabled .mat-form-field-underline {
  background-color: black !important;
}

:host /deep/ .mat-checkbox-frame {
  border: black solid 1px;
}

/deep/ .mat-form-field-label:not(.mat-form-field-empty) {
  color: $primary-color !important;
}

/deep/ .mat-form-field-label {
  color: #606060 !important;
}