<div class="row h-100 justify-content-center align-items-center">
  <div class="col-lg-6 col-sm-9 col-9">
    <h1>Login</h1>
    <form (submit)="onLoginSubmit()">
      <mat-form-field>
        <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
    <p>Want to Start using SIPS with your own Organization?</p>
    <button [routerLink]="['/admin/register']" mat-raised-button color="accent">Sign Up as an Admin</button>
  </div>
</div>