<div class="row h-100 justify-content-center align-items-center">
  <div class="col-lg-6">
    <h1 class="page-header">Finish Creating your Account</h1>
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="personalFormGroup">
        <form [formGroup]="personalFormGroup">
          <ng-template matStepLabel>Fill out your personal info</ng-template>
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="first_name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="last_name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dateOfBirthPicker" (focus)="dateOfBirthPicker.open()" formControlName="date_of_birth" id="dateOfBirthInput" placeholder="Date of Birth">
            <mat-datepicker #dateOfBirthPicker disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="stepper-buttons">
            <button mat-raised-button color="primary" matStepperNext class="next-button">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="sportFormGroup">
        <form [formGroup]="sportFormGroup">
          <ng-template matStepLabel>Fill out your sports related info</ng-template>
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field>
                <input matInput id="heightFeetInput" type="number" placeholder="Height (Feet)" formControlName="heightFeet">
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <input matInput id="heightInchesInput" type="number" placeholder="Height (Inches)" formControlName="heightInches">
              </mat-form-field>
            </div>
          </div>
          <mat-form-field>
            <input matInput id="weightInput" type="number" placeholder="Weight (lbs)" formControlName="weight">
          </mat-form-field>
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field>
                <mat-select placeholder="Sport" [(ngModel)]="selectedSport" name="selectedSport" formControlName="selectedSport">
                  <mat-option *ngFor="let sport of sports" [value]="sport">
                    {{sport.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <mat-select placeholder="Position" [(ngModel)]="position" name="position" formControlName="position">
                  <mat-option *ngFor="let position of selectedSport?.positions" [value]="position">
                    {{position}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="stepper-buttons">
            <button mat-raised-button color="accent" matStepperPrevious class="back-button">Back</button>
            <button mat-raised-button color="primary" matStepperNext class="next-button">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="pastInjuriesFormGroup" optional>
        <form [formGroup]="pastInjuriesFormGroup">
          <ng-template matStepLabel>Past injuries</ng-template>
          <div formArrayName="injuries">
            <div *ngFor="let injury of pastInjuriesFormGroup['controls'].injuries['controls']; let i=index">
              <div>
                <span>Injury {{i + 1}}</span>
                <button *ngIf="pastInjuriesFormGroup['controls'].injuries['controls'].length > 0" mat-icon-button (click)="removeInjury(i)" style="float: right">
                  <mat-icon aria-label="Delete Injury">remove</mat-icon>
                </button>
              </div>
              <div [formGroupName]="i">
                <mat-form-field>
                  <input matInput placeholder="Injury" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="dateOccurredPicker" (focus)="dateOccurredPicker.open()" id="dateOccurredInput" placeholder="Date Injury Occurred" formControlName="date_occurred">
                  <mat-datepicker #dateOccurredPicker disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button color="primary" class="add-injury-button" (click)="addInjury()">Add Injury</button>
          </div>
          <!-- <mat-nav-list>
            <a mat-list-item *ngFor="let injury of injuries">
              <mat-icon mat-list-icon aria-hidden="true">accessibility <span class="cdk-visually-hidden">Injury</span></mat-icon>
              <h4 *ngIf="!injury.title" mat-line>{{ injury.title }}</h4>
            </a>
          </mat-nav-list>
          <div class="row">
            <div class="col-lg-12">
              <mat-form-field>
                <input matInput placeholder="Injury" [(ngModel)]="injury">
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="dateOccurredPicker" (focus)="dateOccurredPicker.open()" [(ngModel)]="date_occurred" id="dateOccurredInput" placeholder="Date Injury Occurred">
                <mat-datepicker #dateOccurredPicker disabled="false"></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button color="primary" class="add-injury-button" (click)="onInjuryAdded()">Add</button>
            </div>
          </div> -->
          <div class="stepper-buttons">
            <button mat-raised-button color="accent" matStepperPrevious class="back-button">Back</button>
            <button mat-raised-button color="primary" matStepperNext class="next-button">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel>Create a password</ng-template>
          <mat-form-field>
            <input matInput id="passwordInput" type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <input matInput id="confirmPasswordInput" type="password" placeholder="Confirm Password" formControlName="confirm_password">
          </mat-form-field>
          <div class="stepper-buttons">
            <button mat-raised-button color="accent" matStepperPrevious class="back-button">Back</button>
            <button mat-raised-button color="primary" matStepperNext class="next-button">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="termsOfServiceFormGroup">
        <form [formGroup]="termsOfServiceFormGroup">
          <ng-template matStepLabel>Read and accept our Terms of Service</ng-template>
          <mat-checkbox formControlName="termsAccepted">I agree to terms and services.</mat-checkbox>
          <div class="stepper-buttons">
            <button mat-raised-button color="accent" matStepperPrevious class="back-button">Back</button>
            <button mat-raised-button color="primary" type="button" (click)="onVerifySubmit()" class="submit-button">Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>