@import '~sass/variables';

.page-header {
  margin-top: 2em;
}

.stepper-buttons {
  margin-top: 2em;
}

.next-button,
.submit-button {
  float: right;
}

.back-button {
  float: left;
}

.mat-form-field {
  width: 100%;
}

.mat-stepper-horizontal {
  background-color: white;
}

.mat-step-header {
  .mat-step-label {
    color: black;

    .mat-step-label-active {
      color: black;
    }
  }

  .mat-step-icon-not-touched {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }

  &:hover,
  .cdk-keyboard-focused,
  .cdk-program-focused {
    background-color: rgba(0, 0, 0, .04);
  }
}

.mat-input-underline {
  background-color: black;
}

.mat-form-field-hide-placeholder .mat-input-element::-moz-placeholder {
  color: black !important;
}

.mat-form-field-disabled .mat-form-field-underline {
  background-color: black !important;
}

.mat-checkbox-frame {
  border-color: black;
}

.mat-form-field-label:not(.mat-form-field-empty) {
  color: $primary-color !important;
}

.mat-form-field-label {
  color: #606060 !important;
}

.mat-select-arrow,
.mat-select-placeholder,
.mat-select-underline,
.mat-select-value {
  color: #606060 !important;
}

.mat-select-trigger,
.mat-select-underline,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
  color: #63961C;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #63961C;
}