<div class="row h-100 justify-content-center align-items-center">
  <div class="col-lg-6">
    <h1 class="page-header">Finish Creating your Account</h1>
    <form (submit)="onVerifySubmit()">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="first_name" name="first_name" placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="last_name" name="last_name" placeholder="Last Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="date_of_birth" [matDatepicker]="dateOfBirthPicker" (focus)="dateOfBirthPicker.open()" name="date_of_birth" id="dateOfBirthInput" placeholder="Date of Birth">
        <!-- <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle> -->
        <mat-datepicker #dateOfBirthPicker disabled="false"></mat-datepicker>
      </mat-form-field>

      <div class="row">
        <div class="col-lg-6">
          <mat-form-field>
            <input matInput [(ngModel)]="heightFeet" name="heightFeet" type="number" id="heightFeetInput" placeholder="Height (Feet)">
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field>
            <input matInput [(ngModel)]="heightInches" name="heightInches" type="number" id="heightInchesInput" placeholder="Height (Inches)">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <input matInput [(ngModel)]="weight" name="weight" type="number" id="weightInput" placeholder="Weight (lbs)">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="password" name="password" type="password" id="passwordInput" placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="confirm_password" name="confirm_password" type="password" id="confirmPasswordInput" placeholder="Confirm Password">
      </mat-form-field>
      <mat-checkbox>I agree to terms and services.</mat-checkbox>
      <br>
      <button type="submit" mat-raised-button color="primary" class="submitBtn">Submit</button>
    </form>
  </div>
</div>