.page-header {
  margin-top: 2em;
  margin-bottom: 1em;
}

/* .mat-raised-button {
  color: white;
  background-color: #7b1fa2;
} */

.mat-form-field {
  width: 100%;
}

.mat-list-item {
  color: black;
  margin-top: 1em;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow .6s ease-out;
  box-shadow: .8px .9px 3px grey;
}

.mat-list-item:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow .6s ease-in;
}

/deep/ .mat-input-underline {
  background-color: black;
  /* replace this color with your accent color hex code */
}

.mat-form-field-hide-placeholder .mat-input-element::-moz-placeholder {
  color: black !important;
}

/deep/ .mat-form-field-label {
  color: black !important;
}

/deep/ .mat-form-field-label {
  color: #606060 !important;
}