<div class="row text-center h-100 justify-content-center align-items-center">
  <div class="col-sm-8 text-center" *ngIf="organization">
    <h3 *ngIf="!editMode" (click)="onClickOrganizationTitle()" class="organization-title">{{ organization.title }}</h3>
    <input #editOrganizationInput *ngIf="editMode" (blur)="updateOrganizationTitle()" (keyup.enter)="updateOrganizationTitle()" type="text" value="{{organization.title}}" [(ngModel)]="organization.title" id="editOrganizationInput">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="athleteCol" *ngIf="athletes?.length > 0">
        <mat-nav-list>
          <h4 mat-header>Athletes</h4>
          <div class="row vertical-align">
            <div class="col-10">
              <mat-form-field>
                <input matInput type="email" placeholder="Athlete Email" id="athleteEmail" [(ngModel)]="athleteEmail" (keyup.enter)="onAthleteAdded()">
              </mat-form-field>
            </div>
            <div class="col-2">
              <button class="align-middle" mat-raised-button color="primary" (click)="onAthleteAdded()">Add</button>
            </div>
          </div>
          <a mat-list-item *ngFor="let athlete of athletes" (click)="onAthleteClick(athlete._id)">
            <mat-icon mat-list-icon *ngIf="!athlete.profileImageUrl" aria-hidden="true">accessibility <span class="cdk-visually-hidden">Athlete</span></mat-icon>
            <img matListAvatar *ngIf="athlete.profileImageUrl" src="{{ athlete.profileImageUrl }}" alt="{{ athlete.first_name }} {{ athlete.last_name}}'s Picture">
            <h4 *ngIf="!athlete.first_name" mat-line id="listAthleteEmail" style="text-align: start;">{{ athlete.email }} </h4>
            <h4 *ngIf="athlete.first_name" mat-line id="listAthleteName" style="text-align: start;">{{ athlete.first_name + " " + athlete.last_name }} </h4>
            <p mat-line id="listAthleteCreationDate" style="text-align: start;">Joined: {{athlete.created_at | date}} </p>
            <mat-icon *ngIf="athlete.status == 'Unverified'" matTooltip="Unverified" tooltip-position='above' aria-hidden="true" class="unverified-indicator" data-toggle="tooltip" title="Unverified">warning <span class="cdk-visually-hidden">Unverified</span></mat-icon>
            <mat-divider></mat-divider>
          </a>
        </mat-nav-list>
      </div>
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="athleteCol" *ngIf="!athletes?.length > 0">
        <h4 mat-header>Athletes</h4>
        <div class="row vertical-align">
          <div class="col-10">
            <mat-form-field>
              <input matInput type="email" placeholder="Athlete Email" id="athleteEmail" [(ngModel)]="athleteEmail" (keyup.enter)="onAthleteAdded()">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button class="align-middle" mat-raised-button color="primary" (click)="onAthleteAdded()">Add</button>
          </div>
        </div>
        <p>No athletes added yet..</p>
      </div>
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="testerCol" *ngIf="testers?.length > 0">
        <mat-nav-list>
          <h4 mat-header>Testers</h4>
          <div class="row vertical-align">
            <div class="col-10">
              <mat-form-field>
                <input matInput type="email" placeholder="Tester Email" id="testerEmail" [(ngModel)]="testerEmail" (keyup.enter)="onTesterAdded()">
              </mat-form-field>
            </div>
            <div class="col-2">
              <button class="align-middle" mat-raised-button color="primary" (click)="onTesterAdded()">Add</button>
            </div>
          </div>
          <a mat-list-item *ngFor="let tester of testers" (click)="onTesterClick(tester._id)">
            <mat-icon mat-list-icon *ngIf="!tester.profileImageUrl" aria-hidden="true">accessibility <span class="cdk-visually-hidden">Tester</span></mat-icon>
            <img matListAvatar *ngIf="tester.profileImageUrl" src="{{ tester.profileImageUrl }}" alt="{{ tester.first_name }} {{ tester.last_name}}'s Picture">
            <h4 *ngIf="!tester.first_name" mat-line style="text-align: start;">{{ tester.email }}</h4>
            <h4 *ngIf="tester.first_name" mat-line style="text-align: start;">{{ tester.first_name + " " + tester.last_name }}</h4>
            <p mat-line style="text-align: start;"> {{tester.created_at | date}} </p>
            <mat-icon *ngIf="tester.status == 'Unverified'" matTooltip="Unverified" tooltip-position='above' aria-hidden="true" class="unverified-indicator" data-toggle="tooltip" title="Unverified">warning <span class="cdk-visually-hidden">Unverified</span></mat-icon>
          </a>
        </mat-nav-list>
      </div>
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="testerCol" *ngIf="!testers?.length > 0">
        <h4 mat-header>Testers</h4>
        <div class="row vertical-align">
          <div class="col-10">
            <mat-form-field>
              <input matInput type="email" placeholder="Tester Email" id="testerEmail" [(ngModel)]="testerEmail" (keyup.enter)="onTesterAdded()">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button class="align-middle" mat-raised-button color="primary" (click)="onTesterAdded()">Add</button>
          </div>
        </div>
        <p>No testers added yet..</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12 offset-lg-0 col-10 offset-1">
        <h3>Test Types</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-md-3 mb-sm-3 mb-3" *ngFor="let testType of testTypes">
            <div class="card h-100" (click)="onTestTypeClick(testType._id)">
              <img class="card-img-top img-fluid" src="{{ testType.imageUrl }}">
              <div class="card-body">
                <h4 class="card-title">{{ testType.title }}</h4>
                <p class="card-text">{{ testType.description }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{ testType.duration }} seconds</small>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-deck">
          <div class="card mb-4" *ngFor="let testType of testTypes">
            <img class="card-img-top img-fluid" src="{{ testType.imageUrl }}">
            <div class="card-body">
              <h4 class="card-title">{{ testType.title }}</h4>
              <p class="card-text">{{ testType.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ testType.duration }} seconds</small>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-4" *ngFor="let testType of testTypes"> -->

        <!-- <a (click)="onTestTypeClick(testType._id)"> -->
        <!-- <img class="card-img-top img-fluid" src="{{ testType.imageUrl }}">
            <div class="card-body">
              <h4 class="card-title">{{ testType.title }}</h4>
              <p class="card-text">{{ testType.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ testType.duration }} seconds</small>
            </div> -->
        <!-- </a> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile *ngFor="let testType of testTypes" [colspan]="3" [rowspan]="1">
            <img mat-grid-tile-header *ngIf="testType.imageUrl" src="{{ testType.imageUrl }}" class="img-fluid">
            <h4 mat-grid-tile-footer>{{ testType.title }}</h4>
            <h6 mat-grid-tile-footer>Description: {{ testType.description }}</h6>
            <p mat-grid-tile-footer>{{ testType.duration }} seconds</p>
          </mat-grid-tile>
        </mat-grid-list> -->


        <!-- <mat-nav-list id="testTypeList">
          <a mat-list-item *ngFor="let testType of testTypes" (click)="onTestTypeClick(testType._id)">
            <img mat-line *ngIf="testType.imageUrl" src="{{ testType.imageUrl }}" class="img-fluid">
            <h4 mat-line>{{ testType.title }}</h4>
            <h6 mat-line>Description: {{ testType.description }}</h6>
            <p mat-line>{{ testType.duration }} seconds</p>
          </a>
        </mat-nav-list> -->
        <button mat-raised-button color="primary" (click)="onAddTestTypeClicked()" id="addTestTypeBtn">Add</button>
      </div>
    </div>
  </div>
</div>