<div class="row text-center h-100 justify-content-center align-items-center">
  <div class="col-sm-8 text-center" *ngIf="organization">
    <h3 *ngIf="!editMode" (click)="onClickOrganizationTitle()" class="organization-title">{{ organization.title }}</h3>
    <input #editOrganizationInput *ngIf="editMode" (blur)="updateOrganizationTitle()" (keyup.enter)="updateOrganizationTitle()" type="text" value="{{organization.title}}" [(ngModel)]="organization.title" id="editOrganizationInput">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="athleteCol" *ngIf="athletes?.length > 0">
        <mat-nav-list>
          <h4 mat-header>Athletes</h4>
          <div class="row vertical-align">
            <div class="col-10">
              <mat-form-field>
                <input matInput type="email" placeholder="Athlete Email" id="athleteEmail" [(ngModel)]="athleteEmail" (keyup.enter)="onAthleteAdded()">
              </mat-form-field>
            </div>
            <div class="col-2">
              <button class="align-middle" mat-raised-button color="primary" (click)="onAthleteAdded()">Add</button>
            </div>
          </div>
          <a mat-list-item *ngFor="let athlete of athletes" (click)="onAthleteClick(athlete._id)">
            <mat-icon mat-list-icon aria-hidden="true">accessibility <span class="cdk-visually-hidden">Athlete</span></mat-icon>
            <h4 *ngIf="!athlete.first_name" mat-line>{{ athlete.email }}</h4>
            <h4 *ngIf="athlete.first_name" mat-line>{{ athlete.first_name + " " + athlete.last_name }}</h4>
            <mat-icon *ngIf="athlete.status == 'Unverified'" matTooltip="Unverified" tooltip-position='above' aria-hidden="true" class="unverified-indicator" data-toggle="tooltip" title="Unverified">warning <span class="cdk-visually-hidden">Unverified</span></mat-icon>
            <p mat-line> {{athlete.created_at | date}} </p>
            <mat-divider></mat-divider>
          </a>
        </mat-nav-list>
      </div>
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="athleteCol" *ngIf="!athletes?.length > 0">
        <h4 mat-header>Athletes</h4>
        <div class="row vertical-align">
          <div class="col-10">
            <mat-form-field>
              <input matInput type="email" placeholder="Athlete Email" id="athleteEmail" [(ngModel)]="athleteEmail" (keyup.enter)="onAthleteAdded()">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button class="align-middle" mat-raised-button color="primary" (click)="onAthleteAdded()">Add</button>
          </div>
        </div>
        <p>No athletes added yet..</p>
      </div>
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="testerCol" *ngIf="testers?.length > 0">
        <mat-nav-list>
          <h4 mat-header>Testers</h4>
          <div class="row vertical-align">
            <div class="col-10">
              <mat-form-field>
                <input matInput type="email" placeholder="Tester Email" id="testerEmail" [(ngModel)]="testerEmail" (keyup.enter)="onTesterAdded()">
              </mat-form-field>
            </div>
            <div class="col-2">
              <button class="align-middle" mat-raised-button color="primary" (click)="onTesterAdded()">Add</button>
            </div>
          </div>
          <a mat-list-item *ngFor="let tester of testers" (click)="onTesterClick(tester._id)">
            <mat-icon mat-list-icon aria-hidden="true">accessibility <span class="cdk-visually-hidden">Tester</span></mat-icon>
            <h4 *ngIf="!tester.first_name" mat-line>{{ tester.email }}</h4>
            <h4 *ngIf="tester.first_name" mat-line>{{ tester.first_name + " " + tester.last_name }}</h4>
            <mat-icon *ngIf="tester.status == 'Unverified'" matTooltip="Unverified" tooltip-position='above' aria-hidden="true" class="unverified-indicator" data-toggle="tooltip" title="Unverified">warning <span class="cdk-visually-hidden">Unverified</span></mat-icon>
            <p mat-line> {{tester.created_at | date}} </p>
          </a>
        </mat-nav-list>
      </div>
      <div class="col-lg-6 offset-lg-0 col-10 offset-1" id="testerCol" *ngIf="!testers?.length > 0">
        <h4 mat-header>Testers</h4>
        <div class="row vertical-align">
          <div class="col-10">
            <mat-form-field>
              <input matInput type="email" placeholder="Tester Email" id="testerEmail" [(ngModel)]="testerEmail" (keyup.enter)="onTesterAdded()">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button class="align-middle" mat-raised-button color="primary" (click)="onTesterAdded()">Add</button>
          </div>
        </div>
        <p>No testers added yet..</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12 offset-lg-0 col-10 offset-1">
        <h3>Test Types</h3>
        <mat-nav-list id="testTypeList">
          <a mat-list-item *ngFor="let testType of testTypes" (click)="onTestTypeClick(testType._id)">
            <h4 mat-line>{{ testType.title }}</h4>
            <h6 mat-line>Description: {{ testType.description }}</h6>
            <p mat-line>{{ testType.duration }} seconds</p>
          </a>
        </mat-nav-list>
        <button mat-raised-button color="primary" (click)="onAddTestTypeClicked()" id="addTestTypeBtn">Add</button>
      </div>
    </div>
  </div>
</div>