@import '~sass/variables';

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.organization-title {
  cursor: pointer;

  &:hover {
    font-size: 2rem;
  }
}

#editOrganizationInput {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.75rem;
}

#testTypeList {
  margin-bottom: 1em;
}

.unverified-indicator {
  color: red;
}

.mat-list-item {
  color: black;
  margin-top: 1em;
  box-shadow: 0 0 0 grey;
  -webkit-transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;

  &:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow 0.6s ease-in;
  }
}

.list-line-element {
  text-align: start;
}

.mat-form-field {
  width: 100%;
}

/deep/ .mat-form-field-label {
  color: #606060 !important;
}

/deep/ .mat-input-underline {
  background-color: black;
}

.mat-form-field-hide-placeholder .mat-input-element::-moz-placeholder {
  color: black !important;
}

/deep/ .mat-form-field-disabled .mat-form-field-underline {
  background-color: black !important;
}

:host /deep/ .mat-checkbox-frame {
  border: black solid 1px;
}

/deep/ .mat-form-field-label:not(.mat-form-field-empty) {
  color: $primary-color !important;
}