<div class="row h-100 justify-content-center align-items-center">
  <div class="col-lg-6">
    <h2 class="page-header">Register as an Admin</h2>
    <form (submit)="onRegisterSubmit()">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="first_name" name="first_name" placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="last_name" name="last_name" placeholder="Last Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="email" name="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Confirm Password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </div>
</div>